<div class="row">


  <!-- Clients list -->
  <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">

    <a [routerLink]="['save']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"><button class="btn btn-secondary btn-sm float-right mt-1 mb-1">
        <i class="fa fa-plus-circle"></i> Add client
      </button>
    </a>

    <!-- Clients list section -->
    <table class="table">
      <thead class="thead-light">
        <tr align="center">
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">City</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr align="center" *ngFor="let client of clients">
          <th scope="row">{{ client.id }}</th>
          <td>{{ client.firstName }}</td>
          <td>{{ client.lastName }}</td>
          <td>{{ client.city }}</td>
          <td><button class="btn btn-info" (click)="onEdit(client.id)"><i class="fas fa-edit"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>


  <!-- Client form -->
  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <router-outlet></router-outlet>
  </div>


</div>
